{% if content %}
	<section {{ attributes.addClass('safety-handler') }}>
		<div class="container-fluid">
			<div class="row reverse-class">
				<div class="col-lg-6 col-md-6 col-sm-12 security-service">
					{% if content.image %}
						{% for item in content.image|array_elements(region_attributes.image.addClass('image-block')) %}
							{{ item }}
						{% endfor %}
					{% endif %}
					<div class="handler">
						{% if content.icon %}
							<div {{region_attributes.icon.addClass('icon')}}>
								{{content.icon}}
							</div>
						{% endif %}
						<div class="to-end">
							{% if content.title %}
								<h1 {{region_attributes.title.addClass(['head-title','title'])}}>
									{{content.title}}
								</h1>
							{% endif %}
							{% if content.description %}
								<div {{region_attributes.description.addClass(['all-services','description'])}}>
									{{content.description}}
								</div>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 call-info">
					{% if content.image %}
						{% for item in content.image|array_elements(region_attributes.image.addClass('image-block')) %}
							{{ item }}
						{% endfor %}
						{#<div {{region_attributes.image.addClass('image-block')}}>
							{{content.image}}
						</div>#}
					{% endif %}
					{% if content.title2 %}
						<h1 {{region_attributes.title2.addClass(['head-title','title2'])}}>
							{{content.title2}}
						</h1>
					{% endif %}
					{% if content.phone %}
						<div {{region_attributes.phone.addClass(['phone-number','phone'])}}>
							{{content.phone}}
						</div>
					{% endif %}
					{% if content.icon2 %}
						<div {{region_attributes.icon2.addClass('icon')}}>
							{{content.icon2}}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endif %}