{% if content %}
	{% if content.security_bg.layout_builder_add_block %}
		{{ content.security_bg }}
	{% endif %}
<section {{ attributes.addClass('security-info-handler')}}>
    <div class="">
        {% if content.security_bg|layout_bg_img %}
		    	{% set attributes2=content.security_bg|layout_bg_img %}
	    	{% endif %}
        <div {{ attributes2.addClass(['safety-text','text-center']) }} >
            {% if content.security_icon %}
            <span {{region_attributes.security_icon.addClass('icon')}}>
                {{ content.security_icon|layout_value }}
            </span>
            {% endif %}
            {% if content.security_title %}
            <div {{region_attributes.security_title.addClass('text-title')}}>
                {{content.security_title|layout_value}}
            </div>
            {% endif %}
            {% if content.security_text %}
            <div {{region_attributes.security_text.addClass('text-paragraph')}}>
                {{content.security_text|layout_value}}
            </div>
            {% endif %}
            {% if content.security_btn %}
                {% for item in content.security_btn|array_elements(region_attributes.security_btn.addClass('htl-btn htl-btn--bg')) %}
                    {{ item }}
                {% endfor %}
                {#<div {{region_attributes.security_btn.addClass('htl-btn htl-btn--bg')}}>
                    {{ content.security_btn|layout_value }}
                </div>#}
            {% endif %}
        </div>
    </div>
</section>
{% endif %}
