{% if content %}
    {% if content.sublime_r_pub_bg.layout_builder_add_block %}
        {{ content.sublime_r_pub_bg }}
    {% endif %}
<div {{ attributes.addClass('container') }}>
    <div class="row">
        <div class="pub-teaser-handler col-lg-12">
            <div class="pub">
                {% if content.sublime_r_pub_bg|layout_bg_img %}
                    {% set attributes2=content.sublime_r_pub_bg|layout_bg_img %}
                {% endif %}
                <div class="banner">
                    <div class="content">
                        {% if content.sublime_r_pub_title %}
                        <div {{ regions_attributes.sublime_r_pub_title.addClass('title')}}>
                            {{ content.sublime_r_pub_titles}}
                        </div>
                        {% endif %}
                        {% if content.sublime_r_pub_description %}
                        <p {{ regions_attributes.sublime_r_pub_description.addClass('text')}}>
                            {{ content.sublime_r_pub_description }}
                        </p>
                        {% endif %}
                        <div class="more">
                            {% if content.sublime_r_pub_link %}
                                {{ content.sublime_r_pub_link }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}