{% if content %}
    <section {{ attributes.addClass('services-overview-section-handler')}} >
        <div class="row  no-gutters align-center justify-content-between">
            <div class="col-lg-5 service-description ">
                {% if content.subtitle_OS %}
                    <div {{ region_attributes.subtitle_OS.addClass('head-title')}}>
                        {{ content.subtitle_OS|layout_value }}
                    </div>
                {% endif %}
                {% if content.title_OS %}
                    <div {{ region_attributes.title_OS.addClass('subtitle')}}>
                        {{ content.title_OS }}
                    </div>
                {% endif %}
                {% if content.text_OS %}
                    <div {{ region_attributes.text_OS.addClass('description')}}>
                        {{ content.text_OS|layout_value }}
                    </div>
                {% endif %}
                {% if content.button_OS %}
                    <div {{ region_attributes.button_OS.addClass('htl-btn htl-btn--sm htl-btn--bg-inv')}} >
                        {{ content.button_OS|layout_value }}
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-7 services-elements "> 
                <div class="row no-gutters d-flex">
                    {% if content.services_OS %}
                        {{ content.services_OS|layout_value }}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endif %}