{% if content %}
<section {{ attributes.addClass('team-section-handler')}}>
    <div class="container">
        {% if content.team_section_title %}
        <div {{ region_attributes.team_section_title.addClass(['title']) }}>
            {{ content.team_section_title|layout_value }}
        </div>
        {% endif %}
        {% if content.team_section_content %}
        <div class="all-team-lutin row justify-content-between">
            {% for item in content.team_section_content|array_elements(region_attributes.team_section_content) %}
            	{{ item }}
            {% endfor %}
        </div>
        {% endif %}
        <div class="d-flex justify-content-center">
            {% if content.team_section_btn %}
                {% for item in content.team_section_btn|array_elements(region_attributes.team_section_btn) %}
                    {{ item }}
                {% endfor %}
            {#<div {{ region_attributes.team_section_btn.addClass(['htl-btn','htl-btn--bg-inv '])}}>
                {{ content.team_section_btn|layout_value }}
            </div>#}
            {% endif %}
        </div>
    </div>
</section>
{% endif %}