{% if content %}
<div {{ attributes.addClass('collection-teaser-handler')}}>
        <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 ">
                <div class="col-lg-16">
                    {% if content.hongo_collection_left_top %}
                        {{ content.hongo_collection_left_top }}
                    {% endif %}
                </div>
                <div class="row col-childs">
                    <div class="col-lg-6">
                        {% if content.hongo_collection_left_bottom %}
                            {{ content.hongo_collection_left_bottom }}
                        {% endif %}
                    </div>
                    <div class="col-lg-6">
                        {% if content.hongo_collection_small_image %}
                            {{ content.hongo_collection_small_image }}
                        {% endif %}
                    </div>
                </div>
                
            </div>
            <div class="col-lg-6">
                {% if content.hongo_collection_right_full %}
                    {{ content.hongo_collection_right_full }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}