{% if content %}
<div {{ attributes.addClass('hot_models_hongo_item') }}>
    <div class="text-wrapper">
        <div class="content">
            <div class="desc">
                {% if content.collection_title %}
                    <h3 {{ region_attributes.collection_title.addClass('title') }}>
                        {{ content.collection_title }}
                    </h3>
                {% endif %}
                <div class="shop">
                    {% if content.collection_link %}
                        {% for item in content.collection_link|array_elements(region_attributes.collection_link.addClass('collection_link')) %}
                    		{{ item }}
                    	{% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>                
    </div>
    {% if content.collection_image %}
        <div {{ region_attributes.collection_image.addClass('img-handler') }}>
            {{ content.collection_image }}
        </div>
    {% endif %}
</div>
{% endif %}