{% if content %}
    {% if content.left_teaser_img.layout_builder_add_block %}
        {{ content.left_teaser_img }}
    {% endif %}
    {% if content.left_teaser_sticker.layout_builder_add_block %}
                {{ content.left_teaser_sticker }}
    {% endif %}
    <div {{ attributes.addClass('hot_models_box-y') }}>        
        <div class="inner-square ">
            <div class="content">
                {% if content.left_teaser_title %}
                <h3 {{ region_attributes.left_teaser_title.addClass('title')}}>
                    {{ content.left_teaser_title }}
                </h3>
                {% endif %}
                    {% if content.left_teaser_link %}
                        {% for item in content.left_teaser_link|array_elements(region_attributes.left_teaser_link.addClass('left_teaser_link')) %}
                    		{{ item }}
                    	{% endfor %}
                    {% endif %}
            </div>            
            {% set left_teaser_sticker=region_attributes.left_teaser_sticker %}
             {% if content.left_teaser_sticker|layout_bg_img %}
                {% set left_teaser_sticker=region_attributes.left_teaser_sticker.merge(content.left_teaser_sticker|layout_bg_img) %}
            {% endif %}
            <div {{ left_teaser_sticker.addClass(['sticker-handler ml-auto text-align-right justify-content-end d-flex']) }}>                
                <div class="discount d-flex flex-column align-items-end">                
                    {% if content.left_teaser_price %}
                    <div {{ region_attributes.left_teaser_price.addClass(['discount_value','d-flex'])}}>
                        {{ content.left_teaser_price|layout_value }}<span class="up">%</span>
                    </div>
                    {% endif %}
                    {% if content.left_teaser_type %}
                    <div {{ region_attributes.left_teaser_type.addClass('left_teaser_type')}}>
                        {{ content.left_teaser_type|layout_value }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if content.left_teaser_img %}
             <div {{ region_attributes.left_teaser_img.addClass('left_teaser_img') }}> {{ content.left_teaser_img|layout_value }} </div>
        {% endif %}  
    </div>
{% endif %}