{% if content %}

<div {{ attributes.addClass(['services','col-sm-4']) }}>
    {% if content.teaser_count_icon %}
    <div {{ region_attributes.teaser_count_icon.addClass('icon') }}>
        {{ content.teaser_count_icon|layout_value }}
    </div>
    {% endif %}
    {% if content.teaser_count_number %}
    	{% if content.teaser_count_number.layout_builder_add_block %}
    		{{content.teaser_count_number}}
    	{% endif %}
    	{% set number %}{{content.teaser_count_number|layout_value}}{% endset %}
    	{% set attributes__teaser_count_number = region_attributes.teaser_count_number.setAttribute('data-target', number|trim|striptags) %}
    	<div {{ attributes__teaser_count_number.addClass('number') }}></div>
    {% endif %}
    {% if content.teaser_count_title %}
    <div {{ region_attributes.teaser_count_title.addClass('title')}}>
        {{ content.teaser_count_title|layout_value }}
    </div>
    {% endif %}
</div>
{% endif %}